<div class="row">
 <p id="notice"><%= notice %></p>
  <div class="container">
    <h1>All News</h1>
  
    <table class="table">

       <tr>
        <th>Title</th>
        <th>Text</th>
       </tr>

        <% @admin_news.each do |n| %>

          <tr>
            <td><%= n.title + n.id.to_s %></td>  
            <td><%= raw n.text  %></td>
            <td><%= check_box_tag 'is_published', '1', n.is_published %></td>
            <td><%= image_tag n.image_url(:thumb) if n.image? %></td>

            <td> <%= link_to 'Show', admin_news_path(n),  class: 'btn btn-info' %>
              <%= link_to 'Edit', edit_admin_news_path(n), class: 'btn btn-primary'  %>
              <%= link_to 'Delete', admin_news_path(n),  class: 'btn btn-danger',
                                   method: :delete, data: { confirm: 'Are you sure?' } %>
            </td>                        
          </tr>
        <% end %>
    </table>

  </div>
</div>
