<!-- start main body -->
<section id="sp-main-body">
   <div class="row">
      <div id="sp-component" class="col-sm-12 col-md-12">
         <div class="sp-column ">
            <div id="system-message-container">
            </div>
            <div id="sp-page-builder" class="sp-page-builder  page-7">
               <div class="page-content">
                  <section class="sppb-section" style="background-color:#ffffff;">
                     <div class="sppb-container">
                        <div class="sppb-row">
                           <div class="sppb-col-sm-12">
                              <div class="sppb-addon-container" style="">
                                 <div class="sppb-addon sppb-addon-module ">
                                    <div class="sppb-addon-content">
                                       <!-- START REVOLUTION SLIDER 4.3.6 b3 fullwidth mode -->
                                       <div id="rev_slider_1_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" style="margin:0px auto;background-color:#E9E9E9;padding:0px;margin-top:0px;margin-bottom:0px;max-height:530px;">
                                          <div id="rev_slider_1_1" class="rev_slider fullwidthabanner" style="display:none;max-height:530px;height:530;">
                                             <ul>
                                                <!-- SLIDE  -->
                                                <li data-transition="random-premium" data-slotamount="7" data-masterspeed="300" data-fstransition="notselectable1" data-fsmasterspeed="300" data-fsslotamount="7">
                                                   <!-- MAIN IMAGE -->
                                                   <img src="/take-my-hand.jpg" alt="slide1" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                                                   <!-- LAYERS -->
                                                   <!-- LAYER NR. 1 -->
                                                   <div class="tp-caption large_bold_white sfl tp-resizeme" data-x="0" data-y="150" data-speed="800" data-start="500" data-easing="Power3.easeInOut" data-splitin="words" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 2; max-width: auto; max-height: auto; white-space: nowrap;">Помогая, мы получаем нечто важное.
                                                   </div>
                                                   <!-- LAYER NR. 2 -->
                                                   <div class="tp-caption medium_light_white sfr tp-resizeme" data-x="0" data-y="230" data-speed="800" data-start="800" data-easing="Power3.easeInOut" data-splitin="words" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap;">
                                                   </div>
                                                   <!-- LAYER NR. 3 -->
                                                   <div class="tp-caption large_bold_white sfb tp-resizeme" data-x="0" data-y="290" data-speed="1500" data-start="1400" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;"><a href='<%=  new_email_path %>' class='slide_button btn btn-primary'>Свяжитесь с нами</a>
                                                   </div>
                                                </li>
                                                <!-- SLIDE  -->
                                                <li data-transition="random-premium" data-slotamount="7" data-masterspeed="300">
                                                   <!-- MAIN IMAGE -->
                                                   <img src="/child.jpg" alt="slide2" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                                                   <!-- LAYERS -->
                                                   <!-- LAYER NR. 1 -->
                                                   <div class="tp-caption large_bold_white sfl tp-resizeme" data-x="0" data-y="150" data-speed="800" data-start="500" data-easing="Power3.easeInOut" data-splitin="words" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 2; max-width: auto; max-height: auto; white-space: nowrap;">Пока человек чувствует боль — он жив. 
                                                   </div>
                                                   <!-- LAYER NR. 2 -->
                                                   <div class="tp-caption medium_light_white sfr tp-resizeme" data-x="0" data-y="230" data-speed="800" data-start="800" data-easing="Power3.easeInOut" data-splitin="words" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap;">Пока человек чувствует чужую боль — он человек.
                                                   </div>
                                                   <!-- LAYER NR. 3 -->
                                                   <div class="tp-caption medium_light_white sfb tp-resizeme" data-x="0" data-y="300" data-speed="1500" data-start="1400" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;"><a href='<%= new_email_path %>' class='slide_button btn btn-primary'>Свяжитесь с нами</a>
                                                   </div>
                                                </li>
                                             </ul>
                                             <div class="tp-bannertimer tp-bottom" style="display:none; visibility: hidden !important;"></div>
                                          </div>
                                       </div>
                                       <!-- END REVOLUTION SLIDER -->
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </section>
         
                  <section class="sppb-section " style="margin-top: 243px; padding:30px 0 0 0;">
                     <div class="sppb-container">
                        <div class="sppb-row">
                           <div class="sppb-col-sm-12">
                              <div class="sppb-addon-container sppb-wow fadeInRight">
                                 <div class="sppb-addon sppb-addon-text-block sppb-text-left lan_title">
                                    <h3 class="sppb-addon-title">Последние Новости</h3>
                                    <div class="sppb-addon-content"></div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </section>
                  <section class="sppb-section" style="padding:55px 0 35px 0;">
                     <div class="sppb-container">
                        <div class="sppb-row">
                           <div class="sppb-col-sm-8">
                               <div class="sppb-addon-container sppb-wow fadeInLeft">
                                 <div class="sppb-addon sppb-addon-module ">
                                    <div class="sppb-addon-content">
                                       <div class="module">
                                          <div class="lan_vertical_timeline">
                                             <% News.all.last(1).each do |n| %>
                                              <div class="tab-content">
                                                <div role="tabpanel" class="tab-pane active" id="home">
                                                   
                                                   <div class="tab_img">
                                                      <a href="<%= show_path(n) %>" ><img src="<%= n.image_url(:med) %>" alt="" /></a>
                                                   </div>
                                                   <div class="tab_contain">

                                                      <h2><%= link_to n.title, show_path(n) %> </h2>  
                                                      <p><%= raw n.text.truncate(400) %></p>

                                                      <a class="btn btn-primary" href="<%= show_path(n) %>">  Подробнее</a>
                                                   </div>
                                                 </div>
                                              </div>
                                             <% end %>  
                                          </div>
                                          <div class="clear"></div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                            </div>
                           <div class="sppb-col-sm-4">
                              <div class="sppb-addon-containerlatest_news sppb-wow fadeInUp">
                                 <div class="sppb-addon sppb-addon-module ">
                                    <div class="sppb-addon-content">
                                       <div id="ns2-110" class="nssp2 ns2-110">
                                          <div class="ns2-wrap">
                                             <!-- <div id="ns2-art-wrap110" class="ns2-art-wrap nssp2-slide nssp2-fade nssp2-default "> -->
                                                <div class="ns2-art-pages nss2-inner">
                                                   <div class="ns2-page item active">
                                                      <div class="ns2-page-inner"> 
                                                         <div class="ns2-row ns2-first ns2-odd">
                                                          <% News.all.last(3).each do |n| %>
                                                            <div class="ns2-row-inner">
                                                               <div class="ns2-column flt-left col-1">
                                                                  <div style="padding:3px 3px 3px 3px">
                                                                     <div class="ns2-inner">
                                                                        <div class="ns2-date-blog">
                                                                           <span class="ns2_date_day"><%= n.created_at.strftime("%d") %></span>
                                                                           <div class="ns2_date_month_year">
                                                                              <span class="ns2_date_month"><%= n.created_at.strftime("%b")  %></span>
                                                                              <span class="ns2_date_year"><%= n.created_at.strftime("%Y")  %></span>
                                                                           </div>
                                                                        </div>
                                                                        <h4 class="ns2-title">
                                                                           <%= link_to n.title, show_path(n) %> 
                                                                        </h4>
                                                                        <div class="ns2-tools">
                                                                        </div>
                                                                        <a href="<%= show_path(n) %>">
                                                                        <% if n.image_url(:thumb).nil? %>

                                                                        <% else %>

                                                                           <img class="ns2-image" style="float:left;margin:0 10px 0 0; max-width: 125px;" src="<%= n.image_url(:thumb) %>" alt="" />
                                                                        <% end %>

                                                                        </a>
                                                                        <p class="ns2-introtext">
                                                                         <%= raw n.text.truncate(100) %>
                                                                        
                                                                        </p>
                                                                        <div class="ns2-social">
                                                                        </div>
                                                                        <div class="clear"></div>
                                                                     </div>
                                                                  </div>
                                                               </div>
                                                               <div class="clear"></div>
                                                            </div>
                                                            <div class="clear"></div>
                                                         </div>
                                                         <% end %>
                                                      <!--end ns2-page-inner-->                        
                                           
                                                      <!--end ns2-page-inner-->
                                                   </div>
                                                </div>
                                                <div class="clear"></div>
                                                <div class="ns2-art-controllers">
                                                   <div class="clear"></div>
                                                </div>
                                                <div class="clear"></div>
                                             <!-- </div> -->
                                             <!--End article layout-->
                                             <!--Links Layout-->
                                             <!--End Links Layout-->
                                             <div class="clear"></div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <!-- Second section for Latest Events -->
                  <!-- </section>
                  <section id="lan_donate" class="sppb-section " style="padding:80px 0;color:#ffffff;background-image: url(/donate.png);background-repeat:no-repeat;background-size:cover;background-attachment:fixed;background-position:50% 50%;">
                     <div class="sppb-container">
                        <div class="sppb-row">
                           <div class="sppb-col-sm-12">
                              <div class="sppb-addon-container sppb-wow zoomIn">
                                 <div class="sppb-addon sppb-addon-cta">
                                    <div class="sppb-row">
                                       <div class="sppb-col-sm-8">
                                          <h3 class="sppb-cta-title" style="color:#ffffff;">The Secret of Happy Children</h3>
                                          <p class="sppb-cta-text">IN THE PAST YEAR, KINDNESS SUPPORTED PROGRAMS THAT SERVED OVER 700,000 CHILDREN IN 23 COUNTRIES. Every mountain top is within reach if you just keep climbing. Maecenas fermentum tristique dolor sed congue.</p>
                                       </div>
                                       <div class="sppb-col-sm-4 sppb-text-right"><a target="_blank" href="donate.html" class="sppb-btn sppb-btn-primary sppb-btn- " role="button">Donate Now</a></div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </section> -->
                  <!-- <section class="sppb-section " style="padding:30px 0 0 0;">
                     <div class="sppb-container">
                        <div class="sppb-row">
                           <div class="sppb-col-sm-12">
                              <div class="sppb-addon-container sppb-wow fadeInRight">
                                 <div class="sppb-addon sppb-addon-text-block sppb-text-left lan_title">
                                    <h3 class="sppb-addon-title">Latest Events</h3>
                                    <div class="sppb-addon-content"></div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </section> -->
                 <!--  <section id="lan_events" class="sppb-section" style="padding:45px 0 55px 0;">
                     <div class="sppb-container">
                        <div class="sppb-row">
                           <div class="sppb-col-sm-12">
                              <div class="sppb-addon-container sppb-wow fadeInUp">
                                 <div class="sppb-addon sppb-addon-module ">
                                    <div class="sppb-addon-content">
                                       <div id="ns2-123" class="nssp2 ns2-123">
                                          <div class="ns2-wrap">
                                             <div class="ns2-art-pages nss2-inner">
                                                <div class="ns2-page item active">
                                                 <% News.all.last(4).each do |n| %>
                                                   <div class="ns2-page-inner">
                                                      <div class="ns2-row ns2-first ns2-odd">
                                                         <div class="ns2-row-inner">
                                                            <div class="ns2-column flt-left col-4">
                                                               <div style="padding:0 15px">
                                                                  <div class="ns2-inner">
                                                                     <a href="single-page.html">
                                                                     <img class="ns2-image" style="float:left;margin:0 0 20px 0" src="http://placehold.it/280x190" alt="Maecenas be lgula molestie lobort" title="Maecenas be lgula molestie lobort" />
                                                                     </a>
                                                                     <h4 class="ns2-title">
                                                                        <a href="single-page.html">
                                                                        <%= n.title %>
                                                                        </a>
                                                                     </h4>
                                                                     <div class="ns2-tools">
                                                                        <div class="ns2-created">
                                                                           Monday, 09 March 2015 07:53 
                                                                        </div>
                                                                     </div>
                                                                     <p class="ns2-introtext">           <p><%= raw n.text.truncate(200) %></p>
                                                                     <div class="ns2-social">
                                                                     </div>
                                                                     <div class="ns2-links">
                                                                        <a class="sppb-btn sppb-btn-primary ns2-readmore" href="single-page.html"><span>Read More</span></a>
                                                                     </div>
                                                                     <div class="clear"></div>
                                                                  </div>
                                                               </div>
                                                             </div>
                                                            <div class="clear"></div>
                                                         </div>
                                                         <div class="clear"></div>
                                                      </div>
                                                      <div class="clear"></div>
                                                   </div>
                                                  <% end %>
                                                   <!--end ns2-page-inner-->
                                                </div>
                                                </div>
                                             </div>
                                             <div class="clear"></div>
                                             <div class="ns2-art-controllers">
                                                <div class="clear"></div>
                                             </div>
                                             <div class="clear"></div>
                                         
                                             <!--End article layout-->
                                             <!--Links Layout-->
                                             <!--End Links Layout-->
                                             <div class="clear"></div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </section>
               </div>
            </div>
         </div>
      </div>
   </div>
</section> 
<!-- end main body -->
