	<!-- start breadcrumbs -->
		<section id="sp-breadcrumbs">
			<div class="container">
			   <div class="row">
			      <div id="sp-breadcrumb" class="col-sm-12 col-md-12">
			         <div class="sp-column ">
			            <div class="sp-module ">
			               <div class="sp-module-content">
			                  <div class="lan_page_title">
			                     <span>Новости</span>
			                  </div>
			               </div>
			            </div>
			         </div>
			      </div>
			   </div>
			</div>
		</section>
	<!-- end breadcrumbs -->

<div class="container">
	<div class="all">
		<% News.all.each do |n| %>
	  	    <div class="catItemHeader">
	            <div class="catItemImageBlock">
		  			<% if n.image.present?  %>
	                <span class="catItemImage">
	                	<a href="<%= show_path(n) %>" title="Proin facilisis egest pellentesque">
	                 	<img src="<%= n.image_url(:med) %>" alt="Image available soon" style="width:315px; height:auto;" />
	                 	</a>
	                </span>

	                <% else %>
		  			<span class="catItemImage">
	                	<a href="<%= show_path(n) %>" title="Proin facilisis egest pellentesque">
	                 	<img src="/default.png" alt="Image available soon" style="width:515px; height:auto;" />
	                 	</a>
	                </span>
	                <% end %>
	                <div class="clr"></div>
                </div>
            </div>
            <div class="news-title">
	            <div class="catItemBody">
			        <h1 class="catItemTitle"> 
						<a href="<%= show_path(n) %>"><%= n.title %></a>
			        </h1>
	                <div class="news-text">
		               <div class="catItemIntroText">
			           	 <%= strip_tags n.text.truncate(300) %>			
		               </div>  
	                </div>
			    </div>
		      <div class="clr"></div>
	        </div>
		           
	       
		<% end %>
	</div>
</div>