<!-- start breadcrumbs -->
<section id="sp-breadcrumbs">
	<div class="container">
	   <div class="row">
	      <div id="sp-breadcrumb" class="col-sm-12 col-md-12">
	         <div class="sp-column ">
	            <div class="sp-module ">
	               <div class="sp-module-content">
	                  <div class="lan_page_title">
	                     <span> <%= link_to 'Новости', news_path %>  </span>
	                  </div>
	               </div>
	            </div>
	         </div>
	      </div>
	   </div>
	</div>
</section>
<!-- end breadcrumbs -->
<div class="wrapper">
	<div id="k2Container" class="lan_event_details itemView">
		<div class="title-show">
			<div class="itemHeader">
				<h2 class="itemTitle"><%= @admin_news.title %></h2>
				<span class="itemDateCreated"><%= @admin_news.created_at.strftime("%m/%d/%Y")  %></span>
			</div>
		</div>
	    <% if @admin_news.image.present? %>
	      <div class="itemImageBlock">
	         <span class="itemImage">
	         	<img src="<%= @admin_news.image_url(:big) %>" alt="Image is coming soon"  
	         </span>
	         <div class="clr"></div>
	      </div>
	    <% else %>
	       <div class="itemImageBlock">
	         <span class="itemImage">
	         	<img src="/default.png" alt="Fusce pulvinar consectetur">
	         </span>
	         <div class="clr"></div>
	        </div>
        <% end %>     
      <!-- Item fulltext -->
		    <div class="show-text">
			    <div class="col-md-12">	
			        <div class="itemFullText">
				        <%= raw @admin_news.text %>
				    </div>
			    </div>
			</div>
	      <div class="clr"></div>
	    <div class="clr"></div>
	</div>
</div>

