<!-- start breadcrumbs -->
<section id="sp-breadcrumbs">
	<div class="container">
	   <div class="row">
	      <div id="sp-breadcrumb" class="col-sm-12 col-md-12">
	         <div class="sp-column ">
	            <div class="sp-module ">
	               <div class="sp-module-content">
	                  <div class="lan_page_title">
	                     <span> <%= link_to 'News', news_path %>  </span>
	                  </div>
	               </div>
	            </div>
	         </div>
	      </div>
	   </div>
	</div>
</section>
<!-- end breadcrumbs -->
<div class="container">
	<div id="k2Container" class="lan_event_details itemView">

		<div class="itemHeader">
			<h2 class="itemTitle"><%= @admin_news.title %></h2>
			<span class="itemDateCreated"><%= @admin_news.created_at.strftime("%m/%d/%Y")  %></span>
		</div>

		<div class="itemBody">

		  <% if !@admin_news.image_url(:big).nil? %>
		      <div class="itemImageBlock">
		         <span class="itemImage">
		         <img src="<%= @admin_news.image_url(:big) %>" alt="Fusce pulvinar consectetur">
		         </span>
		         <div class="clr"></div>
		      </div>
	      <% end %>
	     
	      <!-- Item fulltext -->
	      <div class="itemFullText">
	        <%= raw @admin_news.text %>
	      </div>

	      <div class="clr"></div>
	      <div class="clr"></div>
	   </div>
   </div>

</div>