<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-gb" lang="en-gb" dir="ltr">
   <head>
      <!-- meta -->
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta http-equiv="content-type" content="text/html; charset=utf-8" />
      <meta name="generator" content="" />
      <meta name="" content="" />
      <%= csrf_meta_tags %>

      <!-- title -->
      <title>Grant | Home</title>
      <%= stylesheet_link_tag    'admin/admin', media: 'all' %>
      <%= javascript_include_tag 'application', 'admin/admin.js'  %>
      <!-- favicon --> 
      <nav class="navbar navbar-default navbar">
      <div class="container-fluid">
      <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <%= link_to 'Add News', new_admin_news_path, class: 'navbar-brand'  %> 

    <%= link_to 'All News', admin_news_index_path, class: 'navbar-brand' %>
    
  </div>
</nav>     
   </head>
   <body>  
   <div class="container">
  	 <%= yield %>
   </div>
	</body>
 
</html>
