<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-gb" lang="en-gb" dir="ltr">
   <head>
    
    
      <!-- meta -->
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta http-equiv="content-type" content="text/html; charset=utf-8" />
      <meta name="generator" content="" />
      <!-- title -->
      <title>Charity fund</title>
      <%= stylesheet_link_tag    'application', media: "all" %>
      <%= javascript_include_tag 'application'  %>
      <%= csrf_meta_tags %>
      <!-- favicon -->     
       
   </head>
   <body class="site com-sppagebuilder view-page no-layout no-task itemid-437 en-gb ltr  sticky-header layout-fluid">
      <div class="body-innerwrapper">
         <!-- start top bar -->
         <section id="sp-top-bar">
            <div class="container">
               <div class="row">
                  <div  class="col-sm-6 col-md-6">
                     <div class="sp-column ">
                        <ul class="social-icons">
                           <li><a target="_blank" href="#"><i class="fa fa-facebook"></i></a></li>
                           <li><a target="_blank" href="#"><i class="fa fa-twitter"></i></a></li>
                           <li><a target="_blank" href="#"><i class="fa fa-google-plus"></i></a></li>
                           <li><a target="_blank" href="#"><i class="fa fa-pinterest"></i></a></li>
                           <li><a target="_blank" href="#"><i class="fa fa-youtube"></i></a></li>
                           <li><a target="_blank" href="#"><i class="fa fa-linkedin"></i></a></li>
                           <li><a target="_blank" href="#"><i class="fa fa-dribbble"></i></a></li>
                           <li><a target="_blank" href="#"><i class="fa fa-behance"></i></a></li>
                           <li><a target="_blank" href="#"><i class="fa fa-flickr"></i></a></li>
                           <li><a target="_blank" href="#"><i class="fa fa-vk"></i></a></li>
                           <li><a href="#"><i class="fa fa-skype"></i></a></li>
                        </ul>
                     </div>
                  </div>
                  <div id="sp-top2" class="col-sm-6 col-md-6">
                     <div class="sp-column ">
                        <ul class="sp-contact-info">
                           <!-- <li class="sp-contact-phone"><i class="fa fa-phone"></i> +228 872 444\</li> -->
                           <li class="sp-contact-email"><i class="fa fa-envelope"></i> <a href="mailto:contact@email.com">  <%= link_to 'Отправить SMS', new_email_url %></a></li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <!-- end top bar -->
         <!-- start header -->
         <header id="sp-header">
            <div class="container">
               <div class="row">
                  <div id="sp-logo" class="col-xs-8 col-sm-3 col-md-3">
                     <div class="sp-column ">
                        <a class="logo" href="<%= root_path %>">
                           <!-- <h1><img class="sp-default-logo" src="/noimage.jpg" alt="Grant"><img class="sp-retina-logo" src="/noimage.jpg" alt="Grant" width="111" height="43"></h1> -->
                           <h1>Todo</h1>
                        </a>
                     </div>
                  </div>
                  <div id="sp-menu" class="col-xs-4 col-sm-9 col-md-9">
                     <div class="sp-column ">
                        <div class='sp-megamenu-wrapper'>
                           <ul class="sp-megamenu-parent menu-fade-up hidden-xs">
                              <li class="sp-menu-item sp-has-child">
                                 <li> <%= link_to 'Главная', root_path %> </li>
                              </li>
                              <li class="sp-menu-item">
                                <%= link_to 'Новости', news_path %>
                              </li>
                              <li class="sp-menu-item">
                                 <a href="<%= about_path %>">О Нас</a>
                                 
                              </li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </header>
         <!-- end header -->
         <!-- start page title -->
         <section id="sp-page-title">
            <div class="row">
               <div id="sp-title" class="col-sm-12 col-md-12">
                  <div class="sp-column "></div>
               </div>
            </div>
         </section>
         <!-- end page title -->
        <%= yield %>
         <!-- start bottom area -->
         <section id="sp-bottom">
            <div class="container">
               <div class="row">
                  <!-- start about -->
                  <div id="sp-bottom1" class="col-sm-6 col-md-3">
                     <div class="sp-column ">
                        <div class="sp-module ">
                           <h3 class="sp-module-title">ABOUT CHARITY </h3>
                           <div class="sp-module-content">
                              <div class="custom">   
                                 <p><img src="/por.png" alt="" />Nam vestibulum, arcu sodales feugiat consectetur, nisl orci bibendum elit, eu euismod magna sapien utnibh.</p>
                                 <h3>Contact</h3>
                                 <p>203, Xyz Street,
                                    <br />Melbourne Australia.
                                    <br />Email : info@cheritylanding.com
                                 </p>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <!-- end about -->
                  <!-- start newsletter -->
                  <div id="sp-bottom4" class="col-sm-6 col-md-3">
                     <div class="sp-column ">
                        <div class="sp-module ">
                           <h3 class="sp-module-title">Subscribe</h3>
                           <div class="sp-module-content">
                              <div class="acymailing_module" >
                                 <div class="acymailing_fulldiv" >
                                    <form  action="#" onsubmit="return submitacymailingform('optin','formAcymailing38541')" method="post" name="formAcymailing38541">
                                       <div class="acymailing_module_form">
                                          <div class="acymailing_introtext">Etiam pretium quam sed lectus mollis on the elementum velit cursus. Phasellus vitaesem. Mauris vestibulum pretium quam sed lectus mollis elementum pretium quamsed.</div>
                                          <table class="acymailing_form">
                                             <tr>
                                                <td class="acyfield_email acy_requiredField">
                                                   <input  onfocus="if(this.value == 'E-mail') this.value = '';" onblur="if(this.value=='') this.value='E-mail';" class="inputbox" type="text" name="user[email]" style="width:115%" value="E-mail" title="E-mail" />
                                                </td>
                                                <td class="acysubbuttons">
                                                   <input class="button subbutton btn btn-primary" type="submit" value="Join Us" name="Submit" onclick="try{ return submitacymailingform('optin','formAcymailing38541'); }catch(err){alert('The form could not be submitted '+err);return false;}" />
                                                </td>
                                             </tr>
                                          </table>
                                          <input type="hidden" name="ajax" value="0" />
                                          <input type="hidden" name="acy_source" value="module_127" />
                                          <input type="hidden" name="ctrl" value="sub" />
                                          <input type="hidden" name="task" value="notask" />
                                          <input type="hidden" name="redirect" value="" />
                                          <input type="hidden" name="redirectunsub" value="" />
                                          <input type="hidden" name="option" value="com_acymailing" />
                                          <input type="hidden" name="hiddenlists" value="1" />
                                          <input type="hidden" name="acyformname" value="formAcymailing38541" />
                                       </div>
                                    </form>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>

                  <div class="col-sm-12 col-md-12">
                     <h2>
                        <i>
                      
                        </i>
                     </h2>
                  </div>
                
                  <!-- end newsletter -->
               </div>
            </div>
         </section>
         <!-- end bottom area -->
         <!-- start footer -->
         <footer id="sp-footer">
            <div class="container">
               <div class="row">
                  <div class="col-sm-12 col-md-12">
                     <div class="sp-column ">
                        <ul class="social-icons">
                           <li><a target="_blank" href="#"><i class="fa fa-facebook"></i></a></li>
                           <li><a target="_blank" href="#"><i class="fa fa-twitter"></i></a></li>
                           <li><a target="_blank" href="#"><i class="fa fa-google-plus"></i></a></li>
                           <li><a target="_blank" href="#"><i class="fa fa-pinterest"></i></a></li>
                           <li><a target="_blank" href="#"><i class="fa fa-youtube"></i></a></li>
                           <li><a target="_blank" href="#"><i class="fa fa-linkedin"></i></a></li>
                           <li><a target="_blank" href="#"><i class="fa fa-dribbble"></i></a></li>
                           <li><a target="_blank" href="#"><i class="fa fa-behance"></i></a></li>
                           <li><a target="_blank" href="#"><i class="fa fa-flickr"></i></a></li>
                           <li><a target="_blank" href="#"><i class="fa fa-vk"></i></a></li>
                           <li><a href="#"><i class="fa fa-skype"></i></a></li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </footer>
         <!-- end footer -->
         <!-- Start offcanvas-menu -->
      
         <!-- End offcanvas-menu -->
      </div>
      <!-- main js library -->
     
       
   </body>
</html>